<!DOCTYPE html>
<html lang="${param.lang}" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{text.cardInfo}"></title>
    <link type="text/css" th:href="@{/static/css/stylesheet.css}" rel="stylesheet">
    <link type="text/css" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
    <th:block th:utext="#{script.balanceChange}">script balance change</th:block>
</head>
  <body>
   <div class="sidenav">
       <div class="login-main-text">
           <h2><p th:text="#{name.app}"></p>
               <p th:text="#{name.app.balanceChange}"></p>
               _____________________________________________ <br>
           </h2>

           <p th:text="#{card.info.number} + ${session.cardInfo.getNumber()}"></p>
           <p th:text="#{card.info.validityPeriod} + ${session.cardInfo.getValidityPeriod()}"></p>
           <p th:text="#{card.info.balance} + ${session.cardInfo.getBalance()}"></p>
           <p th:text="#{card.info.status} + #{${session.cardInfo.getStatusCard()}}"></p>
           <br>_____________________________________________ <br>

           <p th:text="#{button.backToCardTransaction}"></p>

           <form th:action="#{form.actionCardsInfo}"  th:method="get">
               <button type="submit" class="btn btn-black" th:text="#{text.cards}" ></button>
           </form>

           _____________________________________________ <br>
           <p th:text="#{languageChangeText}" ></p>

           <form th:action="#{languageChangeLink}"  th:method="post">
               <button type="submit" class="btn btn-black" th:text="#{languageChangeButton}" ></button>
           </form>
       </div>
   </div>
   <div class="main">
       <form th:action="#{form.actionExit}" th:method="post">
           <button style = "margin-left: 85%; margin-top: 1%;"type="submit" class="btn btn-blacktwo" th:text="#{button.logOut}" ></button>
       </form>
       <div class="col-md-6 col-sm-12">
           <div class="login-form"style="font-family: Arial, sans-serif; width: 35%; margin-left: 5%; margin-top: 8%; position: fixed;  z-index: 1; font-weight: 100; padding: 60px">
               <form action="#{form.actionCardBalanceChange}" th:target="_blanc" th:method="patch" >

                   <div class="form-group">
                       <label th:text="#{formNewBalance}" ></label>
                       <input type="text" class="form-control" required th:placeholder="#{placeholderNewBalance}" name="newSum" maxlength="9">
                   </div>

                   <div class="form-group">
                       <label th:text="#{formPassword}" ></label>
                       <input type="password" class="form-control" required th:placeholder="#{placeholderPassword}" name="passwordCard" >
                   </div>

                   <p th:text="#{formRequiredFields}" ></p>
                   <button type="submit" onclick="onChange()" class="btn btn-blacktwo" th:text="#{button.change}" ></button>

               </form>
           </div>
       </div>
   </div>
 </body>
</html>
