<!DOCTYPE html>
<html lang="${param.lang}" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{text.login}"> </title>
    <link type="text/css" th:href="@{static/css/stylesheet.css}" rel="stylesheet">
    <link type="text/css" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
    <th:block th:utext="#{script.login}">script.login</th:block>
</head>
<body>
    <div class="sidenav">
        <div class="login-main-text">
            <h2><p th:text="#{name.app}"></p>
                <p th:text="#{name.app.login}"></p>
                _____________________________________________ <br>
            </h2>

            <p th:text="#{languageChangeText}" ></p>

            <form name="formLog" th:action="@{#{languageChangeLink}}"  th:method="post">
                <button type="submit" class="btn btn-black" th:text="#{languageChangeButton}" ></button>
            </form>
         </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form" style="font-family: Arial, sans-serif; width: 35%; margin-left: 5%; margin-top: 8%; position: fixed;  z-index: 1; font-weight: 100; padding: 60px">
                <form th:action="@{#{form.actionLogin}}" target="_blanc" th:method="get" th:object="${client}">

                    <div class="form-group">
                        <label for="eMail" th:text="#{formEMail}"></label>
                        <input type="email" class="form-control" required th:placeholder="#{placeholderEMail}" th:field="*{eMail}" id="eMail">
                        <div style="color:red" th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}">Name errors</div>
                    </div>

                    <div class="form-group">
                        <label for="password" th:text="#{formPassword}" ></label>
                        <input type="password" class="form-control" required th:placeholder="#{placeholderPassword}" th:field="*{password}" id="password">
                        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name errors</div>
                    </div>

                    <p th:text="#{formRequiredFields}" ></p>
                    <button type="submit" onclick="onChange()" class="btn btn-blacktwo" th:text="#{text.login}"></button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>
