<!DOCTYPE html>
<html lang="${param.lang}" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Application for payments</title>
    <link type="text/css" th:href="@{static/css/stylesheet.css}" rel="stylesheet">
    <link type="text/css" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<div class="sidenav">
    <div class="login-main-text">
        <h2><p th:text="#{name.app}"></p><br> _____________________________________________ <br></h2>

        <p th:text="#{name.app.action}"></p>

        <form th:action="@{#{login.page}}" target="_blanc" th:method="get">
            <button type="submit" class="btn btn-black" th:text="#{text.login}"></button>
        </form>
        <br>
        <form th:action="@{#{register.page}}" target="_blanc" th:method="get">
            <button type="submit" class="btn btn-black" th:text="#{text.register}"></button>
        </form>
        <br> _____________________________________________ <br>
        <p th:text="#{languageChangeText}" ></p>

        <form th:action="@{#{languageChangeLink}}" th:method="post">
            <button type="submit" class="btn btn-black" th:text="#{languageChangeButton}" ></button>
        </form>
    </div>
</div>
</body>
</html>