<!DOCTYPE html>
<html lang="${param.lang}" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Application for payments</title>
    <link type="text/css" th:href="@{static/css/stylesheet.css}" rel="stylesheet">
    <link type="text/css" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
</head>
<body>
   <div class="sidenav">
       <div class="login-main-text">
           <h2><p th:text="#{name.app}"></p>
               <th:block th:utext="#{${infoMessageMenu}}">infoMessage</th:block>
               _____________________________________________ <br>
           </h2>

           <p th:text="#{button.backToCardsMenu}" ></p>

           <form th:action="#{form.actionCardsMenu}" target="_blanc" th:method="get">
               <button type="submit" class="btn btn-black" th:text="#{text.cards}" > </button>
           </form>
           _____________________________________________ <br>
           <p th:text="#{button.backToPayments}" ></p>

           <form th:action="#{form.actionPaymentsMenu}" target="_blanc" th:method="get">
               <button type="submit" class="btn btn-black" th:text="#{text.payments}" ></button>
           </form>

       </div>
   </div>
   <div class="main">
       <form th:action="#{form.actionExit}" th:method="get">
           <button type="submit" class="btn btn-black" th:text="#{button.logOut}" ></button>
       </form>
       <h3 style="font-family: Arial, sans-serif; width: 30%;text-align: center; margin-left: 10%; margin-top: 11%; position: fixed;  z-index: 1; font-weight: 100; padding: 60px" th:text="${session.infoMessage}" ></h3><br>
       </h3>
   </div>
</body>
</html>
